body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('bg.jpeg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    color: white; /* Change text color for better contrast */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.text {
    flex: 1;
    padding-right: 20px;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: 20px;
    text-align: center;
}
